#slider{
position: relative;
top:200px;
/* left: 400px; */
display: inline-block;

}
body{
    overflow-x: hidden;
}
.image img{
    width:80%;
    height: 100%;
}
.image{
    width: 70%;
    text-align: center;
    display:inline-block;
    overflow: hidden;
}
.slide{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 40% 40%;
    gap: 5%;
    margin-top: 5%;
    width: 80%;
    background-color: grey;
    /* position: relative; */
    /* top: 20%; */
    /* left: 5%; */
    margin: auto;}